
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myShiftLabel" data-translate="bekoproApp.Shift.home.createOrEditLabel">Create or edit a Shift</h4>
    </div>
    <div class="modal-body">
        <div ng-show="false">
            <input type="text" id="id" name="id" ng-model="vm.shift.id" readonly>
        </div>
        <!--startField-->
        <fieldset>
            <label class="col-md-2 control-label" style="text-align: right" data-translate="bekoproApp.shift.name" for="field_name">name</label>
            <div class="col-md-6">
                <input type="text" class="form-control" name="name" id="field_name" ng-model="vm.shift.name" required />
            </div>
        </fieldset>
        <!--startField-->
        <fieldset>
            <label class="col-md-2 control-label" style="text-align: right" data-translate="bekoproApp.shift.active" for="field_active">是否使用</label>
            <div class="col-md-6">
                <div class="switch">
                    <input type="checkbox" ng-model="vm.shift.active" id="field_active"  />
                </div>
            </div>
        </fieldset>
        <!--description-->
        <fieldset style="margin-top: 10px">
            <label class="col-md-2 control-label" style="text-align: right" data-translate="bekoproApp.shift.description" for="field_description">description</label>
            <div class="col-md-6">
                <textarea rows="3" class="form-control" name="name" id="field_description" ng-model="vm.shift.description"  />
            </div>
        </fieldset>
        <!--test button-->
        <div class="row" style="margin-top: 10px">
            <div class="col-md-10">
                <button type="button" class="btn btn-primary" ng-click="addData()">add</button>
                <button type="button" ng-disabled="vm.showButton" class="btn btn-primary" ng-click="edit()">edit</button>
                <button type="button" ng-disabled="vm.showButton" class="btn btn-primary" ng-click="remove()">remove</button>
            </div>
        </div>

        <!--详情列表-->
        <div style="margin-top: 10px" data-ng-init="detailInit()" id="detailGrid" ui-grid="gridOptions" class="table-uigrid table_config"
             ui-grid-edit ui-grid-pagination ui-grid-selection ui-grid-exporter ui-grid-resize-columns ui-grid-auto-resize>
        </div>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
<!--模态窗口-->
<script type="text/ng-template" id="modal.html">
    <div style="width: 80%;">
        <div>
            <div class="modal-header">
                <h3 class="modal-title" align="center">
                    create or edit a shift detail
                </h3>
            </div>
            <div class="modal-body">
                <!--name-->
                <div class="row">
                    <fieldset>
                        <label class="col-md-3 control-label" style="text-align: right" data-translate="bekoproApp.shiftDetail.name" for="field_detailName">name</label>
                        <div class="col-md-6">
                            <select  id="field_detailName" ng-model="shiftDetail.name" class="form-control"
                                     ng-options="type.value as type.value for type in shiftType">
                                <option value="">please choose</option>
                            </select>
                        </div>
                    </fieldset>
                </div>
                <!--contentType-->
                <div class="row" style="margin-top:10px">
                    <label class="col-md-3 control-label" style="text-align: right;" data-translate="bekoproApp.shiftDetail.contentType" for="field_contentType">contentType</label>
                    <div class="col-md-6">
                        <select  id="field_contentType" ng-model="shiftDetail.contentType" class="form-control"
                                ng-options="type.value as type.value for type in types">
                            <option value="">please choose</option>
                        </select>
                    </div>
                </div>
                <!--startTime-->
                <div class="row" style="margin-top:10px">
                    <label class="col-md-3 control-label" style="text-align: right;" data-translate="bekoproApp.shiftDetail.startTime" for="field_detailName">startTime</label>
                    <div class="col-md-6">
                        <input type="time" class="form-control" name="startTime"  id="field_startTime" ng-model="shiftDetail.startTime" >
                    </div>
                </div>
                <!--endTime-->
                <div class="row" style="margin-top:10px">
                    <label class="col-md-3 control-label" style="text-align: right" data-translate="bekoproApp.shiftDetail.endTime" for="field_endTime">endTime</label>
                    <div class="col-md-6">
                        <input type="time" class="form-control" name="endTime" id="field_endTime" ng-model="shiftDetail.endTime"  />
                    </div>
                </div>
                <!--countTime-->
                <div class="row" style="display: none">
                    <input type="text" value="{{(shiftDetail.endTime-shiftDetail.startTime)/60000}}" name="countTime" id="countTime">
                </div>
                <!--description-->
                <div class="row" style="margin-top:10px">
                    <label class="col-md-3 control-label" style="text-align: right" data-translate="bekoproApp.shiftDetail.description" for="field_desc">endTime</label>
                    <div class="col-md-6">
                        <textarea type="text" rows="2" class="form-control" name="name" id="field_desc" ng-model="shiftDetail.description"  />
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" style="border-radius: 6px;" ng-click="ok()">
                    SURE
                </button>
                <button class="btn btn-warning" style="border-radius: 6px;" ng-click="cancel()">
                    EIXT
                </button>
            </div>
        </div>
    </div>
</script>
