<div style="margin-top: 10px">

    <div class="row">
        <div class="col-md-6 col-md-offset-2">
            <form name="form" role="form" novalidate ng-submit="vm.save()" show-validation>
                <div class="form-group">
                    <label class="control-label" for="oldPassword" data-translate="bekoproApp.user.oldPassword">oldPassword</label>
                    <input type="password" autocomplete="off" class="form-control" id="oldPassword" name="oldPassword"
                           ng-model="vm.tmpPassArgs.oldPassword" ng-minlength=5 ng-maxlength=20 required >
                    <div ng-show="form.oldPassword.$invalid">
                        <small ng-show="form.oldPassword.$error.required &&form.oldPassword.$pristine && form.submitted">
                            oldPassword is required
                        </small><small  ng-show="form.oldPassword.$error.required &&form.oldPassword.$dirty">
                        Login is required
                    </small><small ng-show="form.oldPassword.$error.maxlength && form.oldPassword.$dirty">
                        maxLength less than 20
                    </small>
                     <small ng-show="form.oldPassword.$error.minlength && form.oldPassword.$dirty">
                        minLength is 5 character
                    </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="newPassword" data-translate="bekoproApp.user.newPassword">newPassword</label>
                    <input type="password" autocomplete="off" class="form-control" id="newPassword" name="newPassword"
                           ng-model="vm.tmpPassArgs.newPassword" ng-minlength=6 ng-maxlength=50 required >
                    <div ng-show="form.newPasswords.$invalid">
                        <small ng-show="form.newPassword.$error.required &&form.newPassword.$pristine && form.submitted">
                            newPassword is required
                        </small><small  ng-show="form.newPassword.$error.required &&form.newPassword.$dirty">
                        newPassword is required
                    </small><small ng-show="form.newPassword.$error.maxlength && form.newPassword.$dirty">
                        maxLength less than 20
                    </small>
                        <small ng-show="form.newPassword.$error.minlength && form.newPassword.$dirty">
                            minLength is 6 character
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="confirmPassword" data-translate="bekoproApp.user.confirmPassword">confirmPassword</label>
                    <input type="password" autocomplete="off" class="form-control" id="confirmPassword" name="confirmPassword"
                           ng-model="vm.tmpPassArgs.confirmPassword" ng-minlength=6 ng-maxlength=50 required pwd-match="form.newPassword">
                    <div ng-show="form.confirmPassword.$invalid">
                        <small ng-show="form.confirmPassword.$error.required &&form.confirmPassword.$pristine && form.submitted">
                            newPassword is required
                        </small><small  ng-show="form.confirmPassword.$error.required &&form.confirmPassword.$dirty">
                        newPassword is required
                    </small><small ng-show="form.confirmPassword.$error.maxlength && form.confirmPassword.$dirty">
                        maxLength less than 20
                    </small>
                        <small ng-show="form.confirmPassword.$error.minlength && form.confirmPassword.$dirty">
                            minLength is 6 character
                        </small>
                        <small ng-show="form.confirmPassword.$error.pwdmatch && form.confirmPassword.$dirty">
                            not match new passWord
                        </small>
                    </div>
                </div>
                <button type="submit"  class="btn btn-primary" data-translate="entity.action.save">Save</button>
            </form>
        </div>
    </div>
</div>